#container {
  border-top: 20px solid #fff;
  text-align: center;

}


#upperDisplay {
  width: 100%;
  height: 100vh;
  background: url("../img/recipe-home2..jpg") top center;
  background-size: cover;
}

.cardsContainer {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

#recipeCard {
  width: 12rem;
  height: 25rem;
} 

#headingText {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  text-align: right; 
}
#headingText h6 {
  color: orangered;
  font-weight: bold;
  font-family: 'helvetica';
}
#headingText h1 {
  color: #000;
  font-size: 5.5rem;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#headingText p {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'helvetica';
}
#headingText button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
#headingText span:hover {
  padding: 10px;
  transition: 0.5s;
}

#search {
  top: 20%;
  left: 80%;
  text-align: right;
}
#search input {
  width: 200px;
  height: 2rem;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #000;
  outline: none;
  font-weight: bold;
  font-family: 'helvetica';
  margin-right: 0.5rem;
}
#search button {
border: none;
cursor: pointer;
font-size: 1.5rem;
}

#randomDishCol {
  background-color: #88888888;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
#randomDishCol h2 {
  color: rgb(73, 25, 7);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 3rem;
}

footer {
  width: 100%;
  background-color: #88888888;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer p {
  color: rgb(73, 25, 7);
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ingredients {
  display: space-between;

}
#ingredients h4 {
  color: rgb(73, 25, 7);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ingredients ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#ingredients p {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'helvetica';
  margin-bottom: 0.5rem;
  margin-top: 3.5rem;
}

#modalImage {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: block;

}

.search-input {
  margin-right: 10px;
}

.meal-container {
  display:list-item;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
  width: 300px;
  background-color: #00000094;
  color: #fff;
  cursor: pointer;
}

.empty-search-message {
  color: #777;
  font-style: italic;
  text-align: right;
}

/* media queries */
@media (max-width: 768px) {
  #headingText {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    text-align: center; 
  }
  #headingText h1 {
    font-size: 2.5rem;
  }
  #headingText p {
    font-size: 1rem;
  }
  #headingText button {
    font-size: 1rem;
  }
 
  #ingredients h4 {
    font-size: 1.2rem;
  }
  #ingredients p {
    font-size: 1rem;
  }
  #modalImage {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    display: block;
  }
  .search-input {
    margin-right: 5px;
  }
  .meal-item {
    width: 30%;
    padding: 2px;
    margin: 2px;
    width:200px;
  }

  #recipeCard {
    width: 9rem;
    height: 20rem;
  }
  #randomDishCol {
    margin-top: 40px;
    padding: 15px;
    
  }
  #randomDishCol h2 {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .empty-search-message {
    font-size: 0.9rem;
  }
  
}
@media (max-width: 390px) {
  #headingText {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    text-align: center; 
  }
  #headingText h1 {
    font-size: 2.5rem;
  }
  #headingText p {
    font-size: 1rem;
  }
  #headingText button {
    font-size: 1rem;
  }
 
  #ingredients h4 {
    font-size: 0.9rem;
  }
  #ingredients p {
    font-size: 0.7rem;
  }
  #modalImage {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    display: block;
  }
  .search-input {
    margin-right: 5px;
  }
  .meal-item {
    width: 30%;
    padding: 2px;
    margin: 2px;
    width:200px;
  }

  #recipeCard {
    width: 9rem;
    height: 20rem;
  }
  #titleCard {
    font-size: 0.8rem;
  }
  #randomDishCol {
    margin-top: 40px;
    padding: 15px;
    
  }
  #randomDishCol h2 {
    font-size: 0.9rem;
    margin-right: 1rem;
  }
  .empty-search-message {
    font-size: 0.9rem;
  }
}